# Python for GNHUSA Happiness Report
## Author: Oliver Gladfelter
## Date: October 2022

In [1]:
import pandas as pd

## Remove text from scale responses

In [2]:
df = pd.read_csv("../data/data.csv")

# 10 is labeled as '10 - completely', so let's get rid of that
df['lifeSat'] = df['Q5_a__1'].apply(lambda x: int(x.split(' ')[0]))
df['worthwhile'] = df['Q5_b__1'].apply(lambda x: float(x.split(' ')[0]))
df['happiness'] = df['Q5_c__1'].apply(lambda x: int(x.split(' ')[0]))
df['anxiety'] = df['Q5_d__1'].apply(lambda x: int(x.split(' ')[0]))

df.to_csv('../data/data.csv', index=False)

In [13]:
df = pd.read_csv("../data/data.csv")

In [21]:
print(df.std()['lifeSat'])
print(df.mean()['lifeSat'])
print(df.std()['happiness'])
print(df.mean()['happiness'])
print(df.std()['anxiety'])
print(df.mean()['anxiety'])

2.316386256447251
6.5472
2.4943069485191227
6.6846
2.977681869821506
4.228

## Compute life satisfaction averages for each age

In [53]:
# get average life satisfaction score for each age
age_and_happiness = df[['Q2','lifeSat']].groupby('Q2').mean().reset_index()
age_and_happiness.to_csv('../data/age_and_happiness.csv', index=False) # save as new dataset

## State averages

In [44]:
for e in ['lifeSat','worthwhile','happiness','anxiety']:
    print(e)
    print(df[['State',e]].groupby('State').mean().sort_values(e,ascending=False).head(50))
    print()

lifeSat
                lifeSat
State
Delaware           7.12
Georgia            7.11
South Carolina     7.09
Florida            7.01
South Dakota       6.92
Wisconsin          6.85
New York           6.83
North Dakota       6.83
Nebraska           6.83
North Carolina     6.81
California         6.79
Alabama            6.78
New Jersey         6.77
Illinois           6.76
Arizona            6.71
Michigan           6.67
Tennessee          6.66
Montana            6.65
Virginia           6.62
Maryland           6.62
Kentucky           6.62
Missouri           6.61
Nevada             6.59
Louisiana          6.57
Wyoming            6.52
Indiana            6.51
New Mexico         6.51
Iowa               6.49
Utah               6.45
Idaho              6.45
Mississippi        6.44
Ohio               6.43
Minnesota          6.43
Colorado           6.42
Alaska             6.40
Texas              6.40
Pennsylvania       6.38
Massachusetts      6.37
Vermont            6.37
New Hampshire      6.32
Arkansas           6.32
Kansas             6.31
Hawaii             6.31
Maine              6.28
Connecticut        6.25
West Virginia      6.24
Rhode Island       6.16
Washington         6.16
Oklahoma           5.83
Oregon             5.79

worthwhile
                worthwhile
State
Georgia               7.54
South Carolina        7.50
Florida               7.44
Louisiana             7.30
Wisconsin             7.30
Delaware              7.28
Nebraska              7.24
New York              7.23
Tennessee             7.22
South Dakota          7.21
Illinois              7.21
New Jersey            7.21
Maryland              7.16
Nevada                7.08
Arizona               7.05
Alabama               7.04
North Carolina        7.03
California            7.00
Kentucky              7.00
Michigan              6.98
Ohio                  6.96
Montana               6.96
North Dakota          6.94
Pennsylvania          6.94
Wyoming               6.88
Minnesota             6.86
Virginia              6.85
Mississippi           6.85
New Mexico            6.84
Connecticut           6.84
Hawaii                6.84
Missouri              6.83
Idaho                 6.82
Arkansas              6.80
West Virginia         6.80
Maine                 6.79
Massachusetts         6.78
Rhode Island          6.73
New Hampshire         6.66
Colorado              6.65
Utah                  6.61
Indiana               6.60
Iowa                  6.59
Texas                 6.57
Vermont               6.57
Alaska                6.52
Kansas                6.50
Oklahoma              6.44
Washington            6.43
Oregon                6.15

happiness
                happiness
State
Georgia              7.43
Delaware             7.23
South Carolina       7.14
Illinois             7.10
Nevada               7.09
North Carolina       7.07
Nebraska             7.07
Wisconsin            7.00
Alabama              6.99
New Jersey           6.96
Maryland             6.94
Ohio                 6.94
Virginia             6.89
Montana              6.89
Arizona              6.89
California           6.89
South Dakota         6.88
Florida              6.88
Tennessee            6.83
Arkansas             6.80
New York             6.79
Missouri             6.75
Rhode Island         6.71
Louisiana            6.69
Michigan             6.68
Minnesota            6.68
North Dakota         6.68
Massachusetts        6.67
New Mexico           6.65
Mississippi          6.64
Hawaii               6.62
Pennsylvania         6.60
Wyoming              6.57
New Hampshire        6.55
Maine                6.54
Kentucky             6.53
Idaho                6.52
Utah                 6.48
Vermont              6.48
Indiana              6.43
Alaska               6.37
Colorado             6.35
Iowa                 6.33
Kansas               6.33
Texas                6.30
West Virginia        6.27
Connecticut          6.16
Washington           6.15
Oklahoma             6.11
Oregon               5.69

anxiety
                anxiety
State
Alabama            4.99
Texas              4.88
Oklahoma           4.84
Vermont            4.77
Kansas             4.69
Connecticut        4.66
Georgia            4.62
Kentucky           4.61
Indiana            4.47
Illinois           4.43
Wyoming            4.42
Washington         4.41
New Mexico         4.35
Colorado           4.35
Massachusetts      4.33
Pennsylvania       4.33
West Virginia      4.32
Oregon             4.31
Arizona            4.30
Alaska             4.29
Utah               4.27
Rhode Island       4.26
Maryland           4.26
Tennessee          4.26
Louisiana          4.25
Minnesota          4.23
Missouri           4.23
Arkansas           4.20
Iowa               4.16
Mississippi        4.15
New York           4.14
South Carolina     4.13
Maine              4.12
Michigan           4.09
Idaho              4.08
North Dakota       4.08
Florida            4.06
New Hampshire      4.05
California         4.04
Virginia           4.01
Wisconsin          4.01
Ohio               3.99
South Dakota       3.94
Nebraska           3.92
Nevada             3.87
Montana            3.73
North Carolina     3.69
Delaware           3.68
New Jersey         3.60
Hawaii             3.53

In [21]:
stateData = df.groupby('State').mean()[['lifeSat','worthwhile','happiness','anxiety']].reset_index()

In [ ]:
lifeSatRank = 1
stateData['lifeSatRank'] = 0
for i in stateData.sort_values('lifeSat', ascending = False).index:
    stateData['lifeSatRank'][i] = lifeSatRank
    lifeSatRank += 1
    
worthwhileRank = 1
stateData['worthwhileRank'] = 0
for i in stateData.sort_values('worthwhile', ascending = False).index:
    stateData['worthwhileRank'][i] = worthwhileRank
    worthwhileRank += 1
    
happyRank = 1
stateData['happyRank'] = 0
for i in stateData.sort_values('happiness', ascending = False).index:
    stateData['happyRank'][i] = happyRank
    happyRank += 1
    
anxietyRank = 1
stateData['anxietyRank'] = 0
for i in stateData.sort_values('anxiety', ascending = False).index:
    stateData['anxietyRank'][i] = anxietyRank
    anxietyRank += 1

In [42]:
stateData.to_csv("../data/stateData.csv", index=False)

In [43]:
stateData.sort_values('lifeSat', ascending = False)

,State,lifeSat,worthwhile,happiness,anxiety,lifeSatRank,worthwhileRank,happyRank,anxietyRank
7,Delaware,7.12,7.28,7.23,3.68,1,6,2,48
9,Georgia,7.11,7.54,7.43,4.62,2,1,1,7
39,South Carolina,7.09,7.50,7.14,4.13,3,2,3,32
8,Florida,7.01,7.44,6.88,4.06,4,3,18,37
40,South Dakota,6.92,7.21,6.88,3.94,5,10,17,43
48,Wisconsin,6.85,7.30,7.00,4.01,6,5,8,41
31,New York,6.83,7.23,6.79,4.14,7,8,21,31
33,North Dakota,6.83,6.94,6.68,4.08,8,23,27,36
26,Nebraska,6.83,7.24,7.07,3.92,9,7,7,44
32,North Carolina,6.81,7.03,7.07,3.69,10,17,6,47
4,California,6.79,7.00,6.89,4.04,11,18,16,39
0,Alabama,6.78,7.04,6.99,4.99,12,16,9,1
29,New Jersey,6.77,7.21,6.96,3.60,13,12,10,49
12,Illinois,6.76,7.21,7.10,4.43,14,11,4,10
2,Arizona,6.71,7.05,6.89,4.30,15,15,15,19
21,Michigan,6.67,6.98,6.68,4.09,16,20,25,34
41,Tennessee,6.66,7.22,6.83,4.26,17,9,19,24
25,Montana,6.65,6.96,6.89,3.73,18,22,14,46
45,Virginia,6.62,6.85,6.89,4.01,19,27,13,40
19,Maryland,6.62,7.16,6.94,4.26,20,13,11,23
16,Kentucky,6.62,7.00,6.53,4.61,21,19,36,8
24,Missouri,6.61,6.83,6.75,4.23,22,32,22,27
27,Nevada,6.59,7.08,7.09,3.87,23,14,5,45
17,Louisiana,6.57,7.30,6.69,4.25,24,4,24,25
49,Wyoming,6.52,6.88,6.57,4.42,25,25,33,11
13,Indiana,6.51,6.60,6.43,4.47,26,42,40,9
30,New Mexico,6.51,6.84,6.65,4.35,27,29,29,13
14,Iowa,6.49,6.59,6.33,4.16,28,43,43,29
43,Utah,6.45,6.61,6.48,4.27,29,41,38,21
11,Idaho,6.45,6.82,6.52,4.08,30,33,37,35
23,Mississippi,6.44,6.85,6.64,4.15,31,28,30,30
34,Ohio,6.43,6.96,6.94,3.99,32,21,12,42
22,Minnesota,6.43,6.86,6.68,4.23,33,26,26,26
5,Colorado,6.42,6.65,6.35,4.35,34,40,42,14
1,Alaska,6.40,6.52,6.37,4.29,35,46,41,20
42,Texas,6.40,6.57,6.30,4.88,36,44,45,2
37,Pennsylvania,6.38,6.94,6.60,4.33,37,24,32,16
20,Massachusetts,6.37,6.78,6.67,4.33,38,37,28,15
44,Vermont,6.37,6.57,6.48,4.77,39,45,39,4
28,New Hampshire,6.32,6.66,6.55,4.05,40,39,34,38
3,Arkansas,6.32,6.80,6.80,4.20,41,34,20,28
15,Kansas,6.31,6.50,6.33,4.69,42,47,44,5
10,Hawaii,6.31,6.84,6.62,3.53,43,31,31,50
18,Maine,6.28,6.79,6.54,4.12,44,36,35,33
6,Connecticut,6.25,6.84,6.16,4.66,45,30,47,6
47,West Virginia,6.24,6.80,6.27,4.32,46,35,46,17
38,Rhode Island,6.16,6.73,6.71,4.26,47,38,23,22
46,Washington,6.16,6.43,6.15,4.41,48,49,48,12
35,Oklahoma,5.83,6.44,6.11,4.84,49,48,49,3
36,Oregon,5.79,6.15,5.69,4.31,50,50,50,18

## Standard deviation and mean for life satisfaction by state

In [18]:
states = pd.read_csv('../data/stateData.csv')
print(states.std()['lifeSat'])
print(states.mean()['lifeSat'])

0.3349587284265216
6.524270300000003

## Aggregate contributions data and assign titles to each contributor

In [32]:
def rank(value):
    if value >= 1000:
        return 'Happiness Pioneer'
    elif value >= 500:
        return 'Happiness Champion'
    elif value >= 250:
        return 'Happiness Innovator'
    elif value >= 100:
        return 'Happiness Activist'
    else:
        return 'Other'
    
# donation data
donations = pd.read_csv("../data/contributions.csv")
donations = donations[['Name', 'Amount', 'Email']]
donations['Amount'] = donations['Amount'].replace('[\$,]', '', regex=True).astype(float)
donations = donations.groupby(['Name', 'Email']).sum().reset_index().sort_values('Amount', ascending=False)
donations['title'] = donations['Amount'].apply(rank)
donations = donations[['Name','title']]
donations.to_csv("../data/contributions.csv", index=False)

donations.to_csv("../data/contributions.csv", index=False)